/* 滚动条 */
.scrollbar {
    overflow: auto;
    scrollbar-width: thin !important;
    scrollbar-color: #888 transparent; /* 滑块颜色和轨道颜色 */
}

/**
    单行 form-item 下 label margin设置为0
 */
.form-item-single-line {
    margin: 0;
}

/**
    ant 官方 tree-select 组件长度默认很短，定义css与其他input框默认长度对齐
 */
.default-input-width {
    width: 196px !important
}

/**
    下拉菜单毛玻璃效果
 */
.drop-down-glass {
    backdrop-filter: saturate(180%) blur(20px);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    background: rgba(255,255,255,0);
    border-radius:8px
}

/**
    根据主题颜色改变图标颜色
 */
[data-theme = 'light']{
    .icon-default-color {
        color: rgba(0, 0, 0, 0.88);
    }

    .input-prefix-icon-color {
        color: rgba(0,0,0,0.25);
    }
}

[data-theme = 'dark'] {
    .icon-default-color {
        color:  rgba(255, 255, 255, 0.85);
    }
    .input-prefix-icon-color {
        color: rgba(255,255,255,0.25);
    }
}

[header-content-dark = 'dark'] {
    .icon-default-color {
        color: #f3f3f3;
    }
    .text-default-color {
        color: #f3f3f3;
    }
}
/**
    顶部导航模式下，使用该css可使内容居中
 */
[layout-type='header-content'] {
    .header-content-center {
        max-width: fit-content;
        min-width: 1000px;
        margin: auto
    }
}

/**
    灰色模式 由管理员统一开启
 */
[enable-gray-model = 'active'] {
    body {
        -webkit-filter: grayscale(100%);
        -moz-filter: grayscale(100%);
        -o-filter: grayscale(100%);
        filter: grayscale(100%);
        filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
    }
}

/**
    文本不可选中
 */
.unselectable {
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
}

/**
    鼠标悬停变为手指
 */
.hover-cursor-pointer {
    cursor: pointer
}
