/**
    单行 form-item 下 label margin设置为0
 */
.form-item-single-line {
    margin: 0;
}

/**
    根据主题颜色改变图标颜色
 */
[data-dark = 'light']{
    .icon-default-color {
        color: #292929;
    }
}

[data-dark = 'dark'] {
    .icon-default-color {
        color: #f3f3f3;
    }
}

[header-content-dark = 'dark'] {
    .icon-default-color {
        color: #f3f3f3;
    }
}
/**
    顶部导航模式下，使用该css可使内容居中
 */
[layout-type='header-content'] {
    .header-content-center {
        max-width: 1000px;
        margin: auto
    }
}

/**
    灰度模式 todo 后续考虑管理员开启关闭全局灰度模式
 */
/*html {*/
/*    -webkit-filter: grayscale(100%);*/
/*    -moz-filter: grayscale(100%);*/
/*    -ms-filter: grayscale(100%);*/
/*    -o-filter: grayscale(100%);*/
/*    filter: grayscale(100%);*/
/*    filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);*/
/*}*/

