/* 布局相关 */
@import "layout.css";
/* 组件切换动画 */
@import "transition.css";
/* 路由切换进度条 */
@import "nprogress.css";
/* 覆盖ant-design-vue 4 样式 */
@import "overwrite-ant.css";
/* 自定义通用css */
@import "custom.css";

/* 全局css变量 */
:root {
    /* 亮色模式阴影*/
    --lihua-layout-light-box-shadow:
            0 1px 2px 0 rgba(0, 0, 0, 0.03),
            0 1px 6px -1px rgba(0, 0, 0, 0.02),
            0 2px 4px 0 rgba(0, 0, 0, 0.02);
    /* 暗色模式阴影*/
    --lihua-layout-dark-box-shadow:
            0 1px 2px 0 rgba(255, 255, 255, 0.03),
            0 1px 6px -1px rgba(255, 255, 255, 0.02),
            0 2px 4px 0 rgba(255, 255, 255, 0.02);

    --lihua-light-box-shadow:
            0 6px 16px 0 rgba(0, 0, 0, 0.08),
            0 3px 6px -4px rgba(0, 0, 0, 0.12),
            0 9px 28px 8px rgba(0, 0, 0, 0.05);

    --lihua-dark-box-shadow:
            0 6px 16px 0 rgba(255, 255, 255, 0.08),
            0 3px 6px -4px rgba(255, 255, 255, 0.12),
            0 9px 28px 8px rgba(255, 255, 255, 0.05);
}
