/* 根据是否开启多任务栏，设定不同的content高度 */
[view-tabs=show][show-hide-layout=show] .layout-content {
    min-height: calc(100vh - (48px + 54px + 16px));
}
[view-tabs=hide][show-hide-layout=show] .layout-content {
    min-height: calc(100vh - (48px + 16px));
}
[view-tabs=show][show-hide-layout=hide] .layout-content {
    min-height: calc(100vh - (54px + 16px));
}
/* content 外边框上左右各为16像素*/
.layout-content {
    margin: 16px 16px 0 16px;
}

/*顶栏右侧元素样式*/
.header-right-item {
    padding: 0 8px 0 8px;
    border-radius: 4px;
    cursor: pointer;
}


/** 顶部右侧鼠标悬停修改背景颜色 */
[data-theme = 'light']{
    .header-right:hover {
        background: #f3f3f3;
    }
}

[data-theme = 'dark'] {
    .header-right:hover {
        background: #292929;
    }
}

/** 暗色风格顶部导航custom="dark"  */
[header-content-dark = 'dark'] {
    .header-right:hover {
        background: #1a2c3d;
    }
}

::view-transition-old(root),
::view-transition-new(root) {
    animation: none;
    mix-blend-mode: normal;
}

::view-transition-old(root) {
    z-index: 1;
}

::view-transition-new(root) {
    z-index: 2147483646;
}

/* 根据自己选择器修改 */
[data-theme="dark"]::view-transition-old(root) {
    z-index: 2147483646;
}
[data-theme="dark"]::view-transition-new(root) {
    z-index: 1;
}
