/**
    modal/drawer 背景毛玻璃效果
 */
[data-ground-glass = glass] {
    .ant-drawer-mask {
        backdrop-filter: blur(6px) !important;
    }
    .ant-modal-wrap {
        backdrop-filter: blur(6px) !important;
    }
}
[data-ground-glass = un-glass] {
    .ant-drawer-mask {
        backdrop-filter: blur(0px) !important;
    }
    .ant-modal-wrap {
        backdrop-filter: blur(0px) !important;
    }
}

/**
    table 页脚背景设置为白色
 */
[data-dark = 'light'] {
    .ant-table-footer {
        background: #FFFFFF !important;
    }
}
[data-dark = 'dark'] {
    .ant-table-footer {
        background: #141414 !important;
    }
}

.ant-table-wrapper .ant-table {
    border-radius: 8px !important;
}